body{
     background-color:#efefef;
    font-family:Arial, sans-serif;
    font-size: 11.5pt;
    }
#uc{
        background-color:#fffeef;
         height:270px;
         width:400px;
         padding: 30px;
         margin:2px;
         position: relative;
         left: 0px;
         top: 0px;
         border-radius:3px;
          border: 1.2px solid #dfdfdf;
        }
#ml{
            background-color:#fffeef;
             height:310px;
             width:150px;
             padding: 30px;
             margin:2px;
             position: relative;
             left: 0px;
             top: 0px;
             border-radius:3px;
              border: 1.2px solid #dfdfdf;
            }
#mc{
            background-color:#fffeef;
             height:310px;
             width:400px;
             padding: 30px;
             margin:2px;
             position: relative;
             left: 0px;
             top: 0px;
             border-radius:3px;
              border: 1.2px solid #dfdfdf;
            }
    
#ul{
    background-color:#fffeef;
    height:350px;
     width:200px;
     /*padding: 10px;*/
     margin:2px;
     position:relative;
     top:0px;
     left: 50px;
      border-radius:3px;
      border: 1.2px solid #dfdfdf;
    }

#five{
      border-top: 1.2px solid #dfdfdf;
     border-bottom: 1.2px solid #dfdfdf;
      padding:5px;
      text-align:center;
    }
    #tug{
        text-align:center;
    }
    
    #t{
        text-align:center;
    }
#ule0{ 
       padding:0px 0px 2px 10px;
    }

#ule4{ 
     background-color:#efefef;
     height:55px;
     width:180px;
     border: 1px solid #dfdfdf;
     border-radius:5px;
     position: absolute;
     left: 10px;
     top:270px;
    }
#sta{
     position:absolute; 
     top: 240px;
     padding:10px;
}

#green{
     color:green;
     text-align:center;
      }

#ule3{ 
     background-color:#efefef;
     border: 1px solid #dfdfdf;
     border-radius:5px;
     padding:1px;
     position: absolute;
     left: 10px;
     top:215px;
     }

#ule2{ 
     background-color:#efefef;
     border: 1px solid #dfdfdf;
      border-radius:5px;
      padding:1px;
      position: absolute;
      left: 85px;
    }
#ule1{ 
     background-color:#efefef;
     border: 1px solid #dfdfdf;
     border-radius:5px;
       padding:1px;
     position: absolute;
     left: 10px;
    }
#uc1{
      /*padding-top: 10px;*/
      border-bottom: 1px solid #06752d;
      height: 20px;
      width: 60px;
      position: relative;
      left:1px;
      top:1px;
      padding-bottom: 7px;
}
#uc2{
      
      border-top: 1px solid #dfdfdf;
      padding-top: 15px;
      padding-bottom: 15px;
}
#uc3{
     
      border-top: 1px solid #dfdfdf;
      padding-top: 15px;
      padding-bottom: 15px;
}
#uc4{
     
      border-top: 1px solid #dfdfdf;
      padding-top: 10px;
      padding-bottom: 10px;
}
#uc5{
     text-align: right;
      bottom: -30px;
      border-top: 1px solid #dfdfdf;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 5px;
      padding-top: 8px;
}
.img{  
      height:50px;
      width: 50px;
      border: 1px solid #00ccff;
      position: relative;
      left:5px;
      top:13px;
}
table{

       position: relative;
       left: 62px;
       padding: 5px;
       text-align: center;

}
.grp{
    position: relative;
      left:19px;
      padding-top: 20px;
}
#mc1{
      /*padding-top: 10px;*/
      border-bottom: 1px solid #06752d;
      height: 25px;
      width: 130px;
      position: relative;
      left:1px;
      top:1px;
      padding-bottom:0px;
}
#mc2{
      
      border-top: 1px solid #dfdfdf;
      padding-top: 15px;
      padding-bottom: 5px;
}
#mc3{
      
      border-top: 1px solid #dfdfdf;
      padding-top: 15px;
      padding-bottom: 5px;
}

#mc4{
      
      border-top: 1px solid #dfdfdf;
      padding-top: 15px;
      padding-bottom: 5px;
}
.cat{
      color: #666b6b;
     padding-bottom: 2px;
}
.aut{
      padding-bottom: 15px;
      color:#666b6b;

}
.dat{
position: absolute;
left: 350px;
}